@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #1f1e33;
    }

h1 {
    color:mistyrose;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    }
h2 {
    color:mistyrose;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;

    }
p {
    color:rgb(226, 249, 235);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
a {
    color:rgb(226, 249, 235);
    font-family: 'Open Sans', sans-serif;
    }
div {
    color:rgb(226, 249, 235);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20;
    left: 0;
    width: 100%;
    margin: 10;
}