
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
        
        body {
            background-color: #202225;
        }

        h1 {
            color:mistyrose;
            text-align: center;
            font-family: 'Vidaloka', serif;
        }
        h2 {
            color:mistyrose;
            text-align: center;
            font-family: 'Vidaloka', serif;
        }
        p {
            color:rgb(226, 249, 235);
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
        a {
            color:rgb(226, 249, 235);
            font-family: 'Montserrat', sans-serif;
        }
        div {
            color:rgb(226, 249, 235);
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
        